.car-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.car-card-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: none;
    max-height: 450px;
    min-height: 300px;
    justify-content: space-around;
    width: 18rem;
    border: #1c1c1b;
    border-radius: 10px;
}

.car-card-carousel img {
    width: 100%;
    margin-top: -40px;
    min-height: 300px;
    max-height: 300px;
    object-fit: scale-down;
}

.car-carousel-body {
    background-color: antiquewhite;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.car-card-carousel-title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.car-card-carousel-text {
    font-size: 12px;
}

.car-card-carousel-text p {
    margin-bottom: 5px;
}

.carousel-control-prev {
    left: -100px; /* Adjust the desired horizontal position */
}

.carousel-control-next {
    right: -100px; /* Adjust the desired horizontal position */
}

.link-to-car {
    text-decoration: none;
    color: #3e4a61;
}